.navbar {
  font-family: Nunito, Roboto, Montserrat, Alata;
}

h1 {
  float: left;
  background-color: #4aaaa5;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-size: 25px;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body {
  background: url("https://i.ytimg.com/vi/uNCr7NdOJgw/maxresdefault.jpg");
  background-repeat: no-repeat;
}

h4 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.divider {
  height: 3px;
  background-color: #999;
}

#namelabel {
  margin-top: 20px;
}

#namefield {
  margin-top: -10px;
  margin-bottom: 25px;
  width: 400px;
}

#emailfield {
  margin-top: -10px;
  margin-bottom: 25px;
  width: 400px;
}

#messagefield {
  margin-top: -10px;
  margin-bottom: 25px;
  width: 400px;
  height: 100px;
}

#submitbutton {
  
  background-color: #4aaaa5;
  color: #eee;
  margin-bottom: 40px;

}

body {
  min-height: 600px;
  margin-bottom: 100px;
  clear: both;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  border-top: 8px solid #4aaaa5;
  background-color: #666666;
  color: #777777;
  text-align: center;
}
